<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card p-4 mt-3">
        <h3 class="heading mt-5 text-center">Search by name</h3>
        <div class="d-flex justify-content-center px-5">
          <div class="search">
            <input
              type="text"
              class="search-input"
              placeholder="Search..."
              name="search"
              placeholder="seach by name"
              [(ngModel)]="filterName"
              (ngModelChange)="filterByName($event)"
            />

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
