<div class=" header header-2">
    <div class="branding">
      <a class="title" [routerLink]="['/']" routerLinkActive="active">Home</a>
    </div>
    <div class="branding">
      <a class="title" [routerLink]="['profile']" routerLinkActive="active">espace client</a>
    </div>
    <div class="branding">
      <a class="title" [routerLink]="['catalogue']" routerLinkActive="active">Catalogue</a>
    </div>
    <div class="branding">
        <a class="title" [routerLink]="['panier']" routerLinkActive="active"> Panier ({{numberProduct}})</a>
    </div>
</div>
