<label>firstname: {{ client.firstname }}</label>
<br />
<Label>lastname : {{ client.lastname }}</Label>
<br />
<Label>address : {{ client.address }}</Label>
<br />
<Label>codepostal : {{ client.postalCode }}</Label>
<br />
<Label>Ville: {{ client.city }}</Label>
<br />
<Label>civilite : {{ client.civilite }}</Label>
<br />
<Label>phone : {{ client.tel | phone }}</Label>
<br />
<Label>mail : {{ client.mail }}</Label>
<br />
<Label>login : {{ client.login }}</Label>
<br />
<Label>password : {{ client.password }}</Label>
<br />
<Label>pays : {{ client.country }}</Label>
